{% extends '::base.html.twig' %}

{% block head %}
<script type="text/javascript" src="{{ asset('bundles/hatimeriaextjs/js/extjs/core/pages/error403.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="error-panel"></div>
{% endblock %}