{% extends '::base.html.twig' %}

{% block head %}
<script type="text/javascript" src="{{ asset('bundles/hatimeriaextjs/js/pages/login.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="login-panel"></div>
{% endblock %}