<!DOCTYPE html>
<html>
    <head>
        <title>HatimeriaExtJS Forms Test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{ asset('bundles/hatimeriaextjs/js/extjs/vendor/extjs-4.0.7/resources/css/ext-all.css') }}" type="text/css" media="all" />
        {% render "HatimeriaExtJSBundle:Javascript:headers" %}
        <script type="text/javascript" src="{{ asset('bundles/hatimeriaextjs/js/extjs/test/form.js') }}"></script>
    </head>
    <body>
        <div id="ext-app" style="width: 1600px; margin: 50px auto;"></div>
    </body>
</html>
